! Set window urgent on bell
Rxvt.urgentOnBell: true
XTerm*bellIsUrgent: true

Rxvt.termName: rxvt-256color
Rxvt.saveLines: 2000
Rxvt.iconFile: /usr/share/icons/Adwaita/256x256/apps/utilities-terminal.png
Rxvt.font: xft:Monospace:pixelsize=12

!Disables the insanely annoying Ctrl+Shift shortcut that enters ISO14755 mode
Rxvt.iso14755:          False
Rxvt.scrollWithBuffer:  true
Rxvt.scrollTtyOutput:   false
Rxvt.scrollTtyKeypress: true
Rxvt.scrollBar:         false
Rxvt.scrollBar_right:   true
Rxvt.scrollstyle:       plain
Rxvt.intensityStyles:   false
Rxvt*fading:            20

Rxvt.perl-ext-common: default,confirm-paste,searchable-scrollback,font-size,keyboard-select,color-themes

Rxvt.keysym.C-0x2b: perl:font-size:increase
Rxvt.keysym.C-0x2d: perl:font-size:decrease
Rxvt.keysym.C-0:    perl:font-size:reset
Rxvt.keysym.C-0x2c: perl:keyboard-select:activate
Rxvt.keysym.M-s:    perl:keyboard-select:search
Rxvt.keysym.M-C-n:  perl:color-themes:next
Rxvt.keysym.M-C-p:  perl:color-themes:prev

Rxvt.color-themes.themedir: ~/.urxvt/colors
Rxvt.color-themes.state-file: ~/.urxvt-theme
Rxvt.color-themes.autosave: 1

! Colors

! Solarized light
#define S_yellow        #b58900
#define S_orange        #cb4b16
#define S_red           #dc322f
#define S_magenta       #d33682
#define S_violet        #6c71c4
#define S_blue          #268bd2
#define S_cyan          #2aa198
#define S_green         #859900

Rxvt*background:              #fdf6e3
Rxvt*foreground:              #657b83
!Rxvt*fadeColor:               #fdf6e3
Rxvt*cursorColor:             #586e75
!Rxvt*pointerColorBackground:  #93a1a1
!Rxvt*pointerColorForeground:  #586e75

*color0:                  #000000
*color1:                  #dc322f
*color2:                  #859900
*color3:                  #b58900
*color4:                  #268bd2
*color5:                  #d33682
*color6:                  #2aa198
*color7:                  #073642
*color8:                  #fdf6e3
*color9:                  #cb4b16
*color10:                 #93a1a1
*color11:                 #839496
*color12:                 #657b83
*color13:                 #6c71c4
*color14:                 #586e75
*color15:                 #002b36
